In [1]:
import pandas as pd

In [11]:
df = pd.read_parquet("data/GSE49828_methylation_matrix.parquet")[["chr", "cpg_pos"]].rename(columns={"chr": "chrom", "cpg_pos": "end"})
df

        chrom       end
0        chr1     10609
1        chr1     10617
2        chr1     10620
3        chr1     10631
4        chr1     10867
...       ...       ...
4374954  chrY  59357712
4374955  chrY  59357736
4374956  chrY  59357765
4374957  chrY  59357786
4374958  chrY  59357793

[4374959 rows x 2 columns]

In [13]:
df["site_name"] = df["chrom"] + "_" + df["end"].astype(str)
df["start"] = df["end"] - 1
df

        chrom       end      site_name     start
0        chr1     10609     chr1_10609     10608
1        chr1     10617     chr1_10617     10616
2        chr1     10620     chr1_10620     10619
3        chr1     10631     chr1_10631     10630
4        chr1     10867     chr1_10867     10866
...       ...       ...            ...       ...
4374954  chrY  59357712  chrY_59357712  59357711
4374955  chrY  59357736  chrY_59357736  59357735
4374956  chrY  59357765  chrY_59357765  59357764
4374957  chrY  59357786  chrY_59357786  59357785
4374958  chrY  59357793  chrY_59357793  59357792

[4374959 rows x 4 columns]

In [14]:
df[["chrom", "start", "end", "site_name"]].to_csv("data/GSE49828_cpgs.bed", sep="\t", header=False, index=False)