In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# liftover_pos

> Liftover between human genomes for cpg positions.

In [ ]:
#| default_exp liftover_ps

In [ ]:
#| hide
from nbdev.showdoc import *

# Import example data

In [ ]:
# export
import pandas as pd

In [ ]:
%time
df=pd.read_parquet("/mnt/idms/home/magyary/rrbs_human_embryo/data/smith/processed/cpgs_5_cov.parquet", columns=["chromosome", "pos"])
df

CPU times: user 23 μs, sys: 0 ns, total: 23 μs
Wall time: 117 μs

        chromosome        pos
0             chr1      10496
1             chr1      10524
2             chr1      10562
3             chr1      10570
4             chr1      10576
...            ...        ...
3433197       chrX  150723722
3433198       chrX  150723725
3433199       chrX  150723735
3433200       chrX  152666323
3433201       chrX  152666349

[3433202 rows x 2 columns]

In [ ]:
import re

In [ ]:
a=!vdb-config -o n /repository/user/main/public/root

In [ ]:
a

['root = "/mnt/idms/home/magyary/sra-data"', '']

In [ ]:
re.search(r'root = "(.*?)"', a[0]).group(1)

'/mnt/idms/home/magyary/sra-data'

In [ ]:
df["chromosome"].to_list()[:5]

['chr1', 'chr1', 'chr1', 'chr1', 'chr1']

In [ ]:
def cpg_01(chromosome, position, genome):
    position = float(position)

Positions are in ```df[["chromosome", "pos"]] ```

In [ ]:
#| export

def func(): pass;

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()